:root {
  --background: #000000;
  --white: #ffffff;
  --gray: #b3b3b3;
  --verified-icon: #4cb3ff;
  --button-primary: #1ed760;
  --button-primary-hover: #3be477;
  --font-size-small: 14px;
  --font-size-big: 28px;
  --font-size-main-title: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-spotify {
  background-color: var(--background);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

/* Header */
.header-artist {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.artist-title {
  font-size: var(--font-size-main-title);
  font-weight: 800;
}

.header-info {
  align-items: center;
  display: flex;
  gap: 5px;
  margin: 0 0 10px 20px;
}

.info-header-text {
  font-size: var(--font-size-small);
  font-weight: 600;
}

.verified-icon {
  color: var(--verified-icon);
  position: relative;
  z-index: 1;
}

.circle-white {
  background-color: var(--white);
  border-radius: 50%;
  height: 15px;
  left: 1.5%;
  position: absolute;
  top: 24.2%;
  width: 15px;
}

.filled-icon {
  font-variation-settings: "FILL" 1;
}

.div-fixed {
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

.artist-fixed {
  font-size: var(--font-size-big);
  font-weight: 700;
}

/* Play all albums button, follow button */
.div-play-follow,
.div-play-fixed {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
}

.div-play-follow {
  padding: 20px;
}

.div-play-fixed {
  padding: 10px 20px;
}

.button-play-all {
  background-color: var(--button-primary);
  border-radius: 50%;
  border: none;
  padding: 10px;
}

.button-play-all:hover {
  background-color: var(--button-primary-hover);
}

.div-follow-element {
  cursor: pointer;
  margin-right: 20px;
}

.scale:hover {
  transform: scale(1.04);
}

.button-follow {
  align-items: center;
  background-color: var(--background);
  border-color: 0.5px solid var(--white);
  border-radius: 20px;
  border: solid 1px;
  color: var(--white);
  font-size: 12px;
  padding: 10px 20px;
}

.button-follow:hover {
  border: 1px solid var(--white);
}

.album-content {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
}

.album-title {
  color: var(--white);
  font-size: var(--font-size-big);
  font-weight: bold;
  text-decoration: none;
}

.album-title,
.details,
.album-play-button {
  margin: 5px 0;
}

.album-title:hover {
  text-decoration: underline;
}

.playButtonHover {
  cursor: pointer;
  text-align: center;
}

.button-table {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: var(--white);
  cursor: pointer;
  margin-left: 5px;
  opacity: 0;
}

.row-album:hover .button-table {
  opacity: 1;
}

.duration-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 5px;
}

.duration-time {
  text-align: center;
  width: 40px;
}

.icon-header {
  font-size: var(--font-size-small) !important;
  text-align: center;
  width: 65%;
}

.small-icon {
  color: var(--gray);
  font-size: 18px !important;
}

.track-cell {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 200px;
  padding: 5px;
  position: relative;
  width: 30px;
}

.row-album:hover .track-number {
  opacity: 0;
}

.track-number {
  opacity: 1;
  position: absolute;
}

/* Album content */

.cover-album {
  height: 136px;
  width: 136px;
}

/* Container for the albums */
.artist-container {
  margin: 0 50px;
}

/* Container for each album */
.album-info {
  margin: 20px 0 60px 0;
}

.album-details {
  margin-bottom: 20px;
}

.details {
  font-size: var(--font-size-small);
  text-transform: lowercase;
}

.details:first-line {
  text-transform: capitalize;
}

/* Buttons */
.album-play-button {
  background-color: var(--white);
  border-radius: 50%;
  border: none;
  margin-right: 5px;
  padding: 2.5px;
}

.album-play-button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.album-button-details {
  background: none;
  border-radius: 50%;
  border: none;
  color: var(--gray);
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
}

.album-button-details:hover {
  color: var(--white);
}

/* Table */

.album-table {
  border-collapse: collapse;
  width: 100%;
}

.a-link {
  color: var(--white);
  text-decoration: none;
}

.a-link:hover {
  text-decoration: underline;
}

.table-header-cell {
  padding: 10px;
}

.header-table {
  border-bottom: 1px solid var(--gray);
  color: var(--gray);
  font-size: var(--font-size-small);
  font-weight: bold;
  text-align: left;
}

.table-header-cell:nth-child(1) {
  width: 10px;
}

.table-header-cell:nth-child(3),
.table-header-cell:nth-child(4) {
  margin: 0 40px;
  width: 200px;
}

.album-cell {
  align-items: center;
  padding: 5px 10px;
}

.row-album:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 80px;
}

.band-name {
  color: var(--gray);
  font-size: var(--font-size-small);
}

.band-name:hover {
  color: var(--white);
}

/* Tooltips */
.tooltip {
  border: none;
  display: inline-flex;
  position: relative;
}

.tooltip-text {
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 6px;
  bottom: 120%;
  color: var(--white);
  left: 50%;
  opacity: 0;
  padding: 5px 8px;
  position: absolute;
  text-align: center;
  transform: translateX(-70%);
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  white-space: nowrap;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}
